@media only screen and (min-width: 700px) {
    html {
        background: black;
        padding: 0px;
        padding-right: 10px;
        padding-left: 10px;
    }
    body {
        width: 360px;
        height: 640px;
    }
}

body {
    background: white;
    margin: auto;
    font-family: 'segoe ui';
    padding: 5px;
}

h1 {
    font-weight: lighter;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.user {
    font-size: 20px;
    display: flex;
    padding: 15px;
    border-right: none !important;
}

.user p {
    margin-block-start: -1px;
    margin-block-end: 0px;
    margin-inline-start: 5px;
    text-transform: capitalize;
}

.app-title {
    width: 100%;
    text-align: center;
}

.actns {
    display: grid;
    grid-template-columns: auto auto;
}

.item {
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
}

.actns button {
    background: white;
}

.user-settings {
    display: grid;
    grid-template-columns: auto;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.settings {
    font-size: 18px;
    border: 1px solid black;
    border-top: none;
    width: 100%;
    text-align: left;
    padding: 15px;
    background: white;
}

.tasks-items {
    display: grid;
    grid-template-columns: auto;
}

.todo {
    font-size: 18px;
    border: 1px solid black;
    background: white;
    text-transform: capitalize;
    list-style-type: decimal;
}

li {
    padding: 15px;
}

form {
    width: 100%;
    display: flex;
}

input {
    background: white;
    border: 1px solid black;
    padding: 15px;
    border-top: none;
}

input[type=text] {
    width: 50%;
    border-right: none;
    padding-right: 28px;
}

input[type=submit] {
    width: 50%;
    text-transform: capitalize;
}